/* Generales a todo el documento */
#contenedor {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
*{ box-sizing: border-box; }
h1, h2 {
    font-family: "Abel";
}
h1 {
    font-weight: 800;
    text-transform: uppercase;
}
h2 {
    font-weight: 700;
}

/* BODY */
body {
    background-image: url(../img/fondo.png);
    background-repeat: repeat;
    background-color: SlateGray;
    font-family: sans-serif;
    margin: 0;
    padding: 0; 
}

/* HEADER y FOOTER*/
header, footer {
    background-color: rgba(0, 0, 139, 0.90);
    padding: 1rem;
    text-align: center;
    color: white; 
}
/* ESPACIO H1 y H2 ACHICADO */
header h1 {
    margin-bottom: 0.2rem
}
header h2 {
    margin-top:0
}

/* MENU DE NAVEGACIÓN */ 
nav {
    background-color: white;
    padding: 0.5rem;
}
/* BULLETS y ESPACIADO AUTOMÁTICO*/
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* DISPLAY UNO AL LADO DEL OTRO */
nav li {
    display: inline-block;
}
/* ASPECTO BOTONES */
nav a {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    text-align: center;
    display: block;
}
/* COMPORTAMIENTO LINKS: NORMAL */
nav a:link {
    background-color: rgb(0, 0, 139);
    color: white;
}
/* VISITADO */
nav a:visited {
    background-color: rgb(0, 0, 139);
    color: darkmagenta;
}
/* MOUSE SOBRE */
nav a:hover {
    background-color: darkslategray;
    color: white;
}
/* LINK ACTIVO */
nav a:active {
    background-color: darkmagenta;
    color: rgb(0, 0, 139);
}

/* MAIN */
main {
    padding: 2rem;
}

/* LINEAS HORIZONTALES COLOR Y GROSOR */
hr {
    border: none;
    height: 0.50rem;
    background-color: black;
}

/* SECTIONS, ASIDE; IMAGEN Y CITA (LENGUAJE): ENMARCAR Y COLOR */
section, aside, .imagenycita {
    background-color: rgba(175, 238, 238, 0.90);
    border: 0.15rem solid black;
    padding: 1.5rem;
}

/*TECNOLOGÍA: SECTION Y ASIDE JUNTOS */
.contenidojunto {
    display: flex;
}
.contenidojunto section {
    width: 70%;
}
.contenidojunto aside {
    width: 30%;
}

/* IMÁGENES */
img {
    width: 100%;
    max-width: 700px;
    height: auto;
    display: block;
    margin: 1rem auto;
}
/* IMÁGENES JUNTAS */
.imagenesjuntas {
    background-color: rgba(175, 238, 238, 0.90);
    border: 0.15rem solid black;
    padding: 1.5rem;
    margin: 1rem auto;
    display: flex;
}
.imagenesjuntas img {
    width: 50%;
    margin: 1rem auto;
    max-width: 350px;
}


/* VIDEO TAMAÑO Y CENTRADO */
iframe {
    width: 100%;
    max-width: 700px;
    height: 400px;
    display: block;
    margin: 1rem auto;
}

/* ESTILOS MAIL */
address a {
    color: black;
    font-style: italic;
    text-decoration: none;
}
address a:hover {
    color: darkmagenta;
    text-decoration: underline;
}

/* CENTRAR CITA */
blockquote {
    text-align: center;
}
